[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
redis = "*"
flask-caching = "*"
pandas = "*"
numpy = "*"
dash-resumable-upload = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
